[submodule "libraries/lib_cwmscripture"]
	path = libraries/lib_cwmscripture
	url = https://github.com/Joomla-Bible-Study/lib_cwmscripture.git
[submodule "plugins/content/scripturelinks"]
	path = plugins/content/scripturelinks
	url = git@github.com:Joomla-Bible-Study/CWMScriptureLinks.git
