/tests/test.css
# System files #
.gitignore
.idea
.c9revisions
.DS_Store
.joomla-dev
.buildpath
.project
.settings
.vagrant

# Misc
composer.lock
*.log

# Test Related Files #
/tests/system/servers/configdef.php
/phpunit.xml

admin/biblestudy.script.php

admin/biblestudy.xml

admin/views/test/tmpl/default.php

admin/views/test/view.html.php

admin/views/test/index.html

admin/views/test/tmpl/index.html

tests/unit/.joomla-cms/

/vendor
/composer.phar

tests/.joomla-cms

tests/test.php

admin/help/
media/css/site/
media/google/
docs/namespaces/
docs/packages/
*.html
/bin/
media/css/biblestudy.css.map
media/css/general.css.map
node_modules/yui-compressor/
package-lock.json
/node_modules/
