<?xml version="1.0"?>
<ruleset name="Proclaim">
    <description>Proclaim Coding Standard Configuration</description>

    <!-- Use the custom ruleset located in build/ -->
    <rule ref="./build/psr12/ruleset.xml"/>
</ruleset>