<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="tests/unit/bootstrap.php" executionOrder="depends,defects" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" colors="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="false">
  <testsuites>
    <testsuite name="Proclaim Unit Tests">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="JPATH_BASE" value="."/>
    <const name="JPATH_ROOT" value="."/>
  </php>
  <source>
    <include>
      <directory suffix=".php">admin/src</directory>
      <directory suffix=".php">site/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">admin/src/View</directory>
      <directory suffix=".php">site/src/View</directory>
      <directory suffix=".php">admin/src/Field</directory>
    </exclude>
  </source>
</phpunit>
