/*
    Document   : biblestudy-j2.5
    Created on : Oct 27, 2012, 5:47:55 PM
    Author     : bcordis
    Description:
        Purpose of the stylesheet follows.
*/

form .tab-content .controls label, form .controls #batch-move-copy label {
    float: left;
    clear: none;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.control-group label {
    display: block;
    margin-bottom: 5px;
}

form .controls fieldset {
    border: none;
}

.element-invisible {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

label {
    display: block;
    margin-bottom: 5px;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

[class^="icon-16"], [class*=" icon-16"] {
    width: auto;
    height: 100%;
}

[class^="icon-32"], [class*=" icon-32"] {
    width: 32px;
    height: 32px;
    background-position: 0 0;
    display: block;
}

[class^="icon-48"], [class*=" icon-48"] {
    width: 48px;
    height: 48px;
    background-position: 0 0;
    display: block;
}

[class*="input-"], .inputbox {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

#j-main-container .pagination {
    margin: 0;
    float: right;
}

#j-main-container .container {
    width: auto;
}

div.pagetitle {
    width: auto;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0;
}

.form-search label, .form-inline label, .form-search .btn-group, .form-inline .btn-group {
    display: inline-block;
}

.form-vertical .control-label {
    float: none;
    width: auto;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
}

.form-vertical .controls {
    margin-left: 0;
}

.form-horizontal .control-label {
    width: auto;
    padding-right: 5px;
    text-align: left;
}

form .btn-group label {
    font-size: 12px;
}

input, select {
    font-size: 0.909em;
    background: none;
}

.table td.center {
    text-align: center;
}

.form-inline #jform_id {
    float: none;
    display: inline-block;
}

/*
 Bible Study only
*/
.form-vertical .control-label {
    float: none;
    width: auto;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
}

fieldset {
    margin-bottom: 0;
    border: none;
    padding: 0;
    text-align: left;
}

.row-fluid [class*="span"]:first-child {
    margin-left: 0;
}

@media (min-width: 1200px) {
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
}

#limit {
    width: 60px;
}

#directionTable {
    width: 165px;
}
