@charset "utf-8";
/* CSS Document */
a[title]:after {
}

a[title]:hover:after {
	/*Shows the generated content*/
	content: attr(title) " (" attr(href) ")";
	visibility: visible;
}

.bsmall {
	border: solid 0;
	color: #000;
	font-size: 0.85em;
	margin: 0 0 20px;
}

.bsmallbold {
	border: solid 0;
	color: #000;
	font-size: 0.85em;
	margin: 0 0 20px;
	font-weight: bold;
}

.bsmallitalic {
	border: solid 0;
	color: #000;
	font-size: 0.85em;
	margin: 0 0 20px;
	font-style: italic;
}

small.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}
