/* Uploader css */
div.upload_in_progress {
    display: block;
    width: 100%;
    height: 344px;
    background: transparent url('../plupload/img/upload_in_progress.gif') center center no-repeat;
}

span.loading {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../plupload/img/throbber.gif') center center no-repeat;
}
table#files th.file_icon span.loading {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../plupload/img/throbber.gif') center center no-repeat;
}
/* New Landing Page CSS */

.landingtable {
    clear:both;
    width:auto;
    display:table;

}

.landingrow {
    display:inline;
    padding: 1em;
}
.landingcell {
    display:table-cell;
}

.landinglink a{
    display:inline;
}

/* Terms of use or donate display settings */
.termstext {
}

.termslink{
}
/* Podcast Subscription Display Settings */

.podcastsubscribe{
    clear:both;
    display:table;
    width:auto;
    background-color:#eee;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid grey;
    padding: 1em;
}
.podcastsubscribe .image {
    float: left;
    padding-right: 5px;
    display: inline;
}
.podcastsubscribe .image .text {
    display:inline;
    position:relative;
    right:50px;
    bottom:-10px;
}
.podcastsubscribe .prow {
    display: table-row;
    width:auto;
    clear:both;
}
.podcastsubscribe .pcell {
    display: table-cell;
    float:left;
    background-color:#e3e2e2;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid grey;
    padding: 1em;
    margin-right: 5px;
}
.podcastheader h3{
    display:table-header;
    text-align:center;
}

.podcastheader{
    font-weight: bold;
}

.podcastlinks{
    display: inline;

}

.fltlft {
    float:left;
    padding-right: 5px;
}

/* Listing Page Items */


#recaptcha_widget_div {
    position:static !important;
}



.tool-tip {
    color: #fff;
    width: 300px;
    z-index: 13000;
}
/* Tooltip Styles */
/* @todo need to find these files */
.tool-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: url(/images/tooltip/bubble.gif) top left;
}
.tool-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: url(/images/tooltip/bubble_filler.gif) bottom right;
}
.custom-tip {
    color: #000;
    width: 300px;
    z-index: 13000;
    border: 2px solid #666666;
    background-color: white;
}

.custom-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #000000;
    padding: 8px 8px 4px;
    background: #666666;
    border-bottom: 1px solid #999999;
}

.custom-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: #999999;
}

/*Study Edit CSS */

.bsmbutton
{
    background-color:white;

}
#toolbar td.white {
    background-color:#FFFFFF;
}
#toolbar a hover visited{
    color:#0B55C4;
}

/*Social Networking Items */
#bsmsshare {
    margin: 0;
    border-collapse:separate;
    float:right;
    border: 1px solid #CFCFCF;
    background-color: #F5F5F5;
}
#bsmsshare th, #bsmsshare td {
    text-align:center;
    padding:0 0 0 0;
    border:none;
}
#bsmsshare th {
    color:#0b55c4;
    font-weight:bold;
}
/* Landing Page Items */
.landinglist {

}
#landing_label {

}
.landing_item {

}
.landing_title {
    font-family:arial;
    font-size:16px;
    font-weight:bold;

}
#biblestudy_landing {

}
#showhide {
    font-family:arial;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
}

#showhide .showhideheadingbutton img {
    vertical-align:bottom;
}

.landing_table {

}

#landing_td {
    width: 33%;
}

.landing_separator {
    height:15px;
}
/* Popup Window Items */
.popupwindow
{
    margin: 5px;
    text-align:center;
}
p.popuptitle {
    font-weight: bold;
    color: black;
}

.popupfooter
{
    margin: 5px;
    text-align:center;
}
p.popupfooter {
    font-weight: bold;
    color: grey;
}
#main ul, #main li
{
    display: inline;
}

.component-content ul
{
    text-align: center;
}

.component-content li
{
    display: inline;
}

.pagenav
{
    margin-left: 10px;
    margin-right: 10px;
}

#recaptcha_widget_div {
    position:static !important;
}