.icon-administration {
	background-image: url("../images/icons/icon-administration.png");
	}

.icon-studies {
	background-image: url("../images/icons/icon-studies.png");
	}

.icon-mp3 {
	background-image: url("../images/icons/icon-mp3.png");
	}

.icon-templates {
	background-image: url("../images/icons/icon-templates.png");
	}

.icon-css {
	background-image: url("../images/icons/icon-css.png");
	}

.icon-podcast {
	background-image: url("../images/icons/icon-podcast.png");
	}

.icon-series {
	background-image: url("../images/icons/icon-series.png");
	}

.icon-teachers {
	background-image: url("../images/icons/icon-teachers.png");
	}

.icon-48-biblebooks {
	background-image: url("../images/icons/icon-48-biblebooks.png");
	}

.icon-48-mediaimages {
	background-image: url("../images/icons/icon-48-mediaimages.png");
	}

.icon-servers {
	background-image: url("../images/icons/icon-servers.png");
	}

.icon-messagetype {
	background-image: url("../images/icons/icon-messagetype.png");
	}

.icon-topics {
	background-image: url("../images/icons/icon-topics.png");
	}

.icon-locations {
	background-image: url("../images/icons/icon-locations.png");
	}

.icon-comments {
	background-image: url("../images/icons/icon-comments.png");
	}

.icon-social {
	background-image: url("../images/icons/icon-social.png");
	}

.icon-openbible {
	background-image: url('../images/openbible.gif');
	}

.icon-xml {
	background-image: url('../images/icons/icon-xml.png');
	}
