.icon-48-administration {
    background-image: url("../images/icons/icon-48-administration.png");
}

.icon-48-studies {
    background-image: url("../images/icons/icon-48-studies.png");
}

.icon-48-mp3 {
    background-image: url("../images/icons/icon-48-mp3.png");
}

.icon-48-templates {
    background-image: url("../images/icons/icon-48-templates.png");
}

.icon-48-css {
    background-image: url("../images/icons/icon-48-css.png");
}

.icon-48-podcast {
    background-image: url("../images/icons/icon-48-podcast.png");
}

.icon-48-series {
    background-image: url("../images/icons/icon-48-series.png");
}

.icon-48-teachers {
    background-image: url("../images/icons/icon-48-teachers.png");
}

.icon-48-biblebooks {
    background-image: url("../images/icons/icon-48-biblebooks.png");
}

.icon-48-mediaimages {
    background-image: url("../images/icons/icon-48-mediaimages.png");
}

.icon-48-servers {
    background-image: url("../images/icons/icon-48-servers.png");
}

.icon-48-folder {
    background-image: url("../images/icons/icon-48-folder.png");
}

.icon-48-messagetype {
    background-image: url("../images/icons/icon-48-messagetype.png");
}

.icon-48-locations {
    background-image: url("../images/icons/icon-48-locations.png");
}

.icon-48-topics {
    background-image: url("../images/icons/icon-48-topics.png");
}

.icon-48-mimetype {
    background-image: url("../images/icons/icon-48-mimetype.png");
}

.icon-48-comments {
    background-image: url("../images/icons/icon-48-comments.png");
}

.icon-48-social {
    background-image: url("../images/icons/icon-48-social.png");
}

.icon-32-reset {
    background-image: url("../images/icons/icon-32-reset.png");
}

.icon-32-xml {
    background-image: url("../images/icons/icon-32-xml.png");
}

.icon-32-download {
    background-image: url("../images/icons/icon-32-download.png");
}

.icon-32-play {
    background-image: url("../images/icons/icon-32-play.png");
}