#categoryItems {
    display: none;
}

#loading {
    display: none;
    position: absolute;
    right: 50px;
}

.selectContainer {
    float: left;
    margin-left: 5px;
}

#docManItemsContainer {
    display: none;
}

#articlesCategoriesContainer {
    display: none;
}

#articlesItemsContainer {
    display: none;
}

#virtueMartItemsContainer {
    display: none;
}