/*Admin*/
div.current .panelform {
    border:1px solid #CCCCCC !important;
}
/*Studiesedit*/
.inlineFields div {
    float: left;
}

.inlineFields label {
    min-width:70px !important;
}

/*General*/
#loading {
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background-color: #FFFFFF;
    border:1px solid black;
    padding:16px;
    position:fixed;
    right:0;
    text-align:center;
    top:0;
    width:158px;
    margin: 7px;
    display: none;
}
#loading span {
    font-weight: bold;
}
.icon-48-openbible {
    background-image:url(openbible.gif);
}

.inlinePlayer {
    border: 1px solid black;
    position: absolute;
    width: 290px;
    margin-left: -293px;
    height: 24px;
    display:none;
    background-color:  #ffffff;
}
