<?xml version="1.0" encoding="utf-8"?>
<config menu="hide">
	<params addpath="/components/com_biblestudy/elements">
	<param name="allow_deletes" type="radio" default="1" label="Allow admin to delete rows for teachers/series/servers etc" description="Default setting allows editing of certain rows only to avoid broken links. Set this to Allow for full control. But do so with caution.">
		<option value="0">Restrict Deletes</option>
		<option value="1">Allow admin deletes</option>
	</param>
	<param name="drop_tables" type="radio" default="0" label="Don't Drop/Drop component tables on uninstall" description="Choose whether on uninstall to drop the component's database tables">
		<option value="0">Keep db Tables on Uninstall</option>
		<option value="1">Drop db Tables on Uninstall</option>
	</param>
	<param name="admin_store" type="radio" default="0" label="Show Store on administration page" description="Choose whether to show the store options in the study details entry page">
		<option value="1">Show Store Options</option>
		<option value="0">Hide Store Options</option>
	</param>
	<param name="@spacer" type="spacer" default="Podcast Parameters" label="Podcast Parameters" description="Podcast Parameters">
		</param>
	<param name="podcast_title" type="radio" default="0" label="Type of Title for Podcast Episodes" description="Choose a type of title you want displayed for podcast episodes">
		<option value="0">Scripture + Title</option>
		<option value="1">Title Only</option>
		<option value="2">Scripture Only</option>
		<option value="3">Title + Scripture</option>
		<option value="4">Date + Scripture + Title</option>
		</param>
	<param name="allow_podcast" type="radio" default="0" label="Allow Podcast Frontend entry" description="Choose whether to allow or not podcast entry on the front end">
		<option value="0">No Front End Entry</option>
		<option value="1">Allow Front end Etnry</option>
	</param>
	<param name="podcast_access" type="list" default="23" label="Podcast Front End Submission" description="Enter the level of access required for users to enter podcast information on the front end">
		<option value="18">Registered Users</option>
		<option value="19">Authors</option>
		<option value="20">Editors</option>
		<option value="21">Publishers</option>
		<option value="23">Managers</option>
		<option value="24">Administrators or Superadmin</option>
	</param>
</params>
</config>