<?xml version="1.0" encoding="utf-8"?>
<config menu="hide">
	<params addpath="/components/com_biblestudy/elements">
	<param name="allow_deletes" type="radio" default="1" label="Allow admin to delete rows for teachers/series/servers etc" description="Default setting allows editing of certain rows only to avoid broken links. Set this to Allow for full control. But do so with caution.">
		<option value="0">Restrict Deletes</option>
		<option value="1">Allow admin deletes</option>
	</param>
	<param name="drop_tables" type="radio" default="0" label="Don't Drop/Drop component tables on uninstall" description="Choose whether on uninstall to drop the component's database tables">
		<option value="0">Keep db Tables on Uninstall</option>
		<option value="1">Drop db Tables on Uninstall</option>
	</param>
	<param name="admin_store" type="radio" default="0" label="Show Store on administration page" description="Choose whether to show the store options in the study details entry page">
		<option value="1">Show Store Options</option>
		<option value="0">Hide Store Options</option>
	</param>
</params>
</config>