#bsdropdownmenu {
  margin-bottom: 10px;
}
#bslisttable {
  margin: 0;
  border-collapse:separate;
}
#bslisttable th, #bslisttable td {
  text-align:left;
  padding:0 5px 0 5px;
  border:none;
}
#bslisttable .row1col1,
#bslisttable .row2col1,
#bslisttable .row3col1,
#bslisttable .row4col1 {
  border-left: gray 2px solid;
}
#bslisttable .lastcol {
  border-right: gray 2px solid;
}
#bslisttable .lastrow td {
  border-bottom:2px solid gray;
  padding-bottom:7px;
}
#bslisttable th {
  background-color:#707070;
  font-weight:bold;
  color:white;

}
#bslisttable th.row1col1,
#bslisttable th.row1col2,
#bslisttable th.row1col3,
#bslisttable th.row1col4 {
  border-top: gray 2px solid;
  padding-top:3px;
}
#bslisttable tr.lastrow th {
  border-bottom:2px solid gray;
  padding-bottom:3px;
}

#bslisttable tr.bsodd td {
  background-color:#FFFFFF;
}
#bslisttable tr.bseven td {
  background-color:#FFFFF0;
}

#bslisttable .date {
  white-space:nowrap;
  font-size:1.2em;
  color:grey;
  font-weight:bold;
}
#bslisttable .scripture1 {
  white-space:nowrap;
  color:c02121;
  font-weight:bold;
}
#bslisttable .scripture2 {
  white-space:nowrap;
  color:c02121;
  font-weight:bold;
}
#bslisttable .title {
  font-size:1.2em;
  color:#707070;
  font-weight:bold;
}
#bslisttable .series_text {
  white-space:nowrap;
  color:grey;
}
#bslisttable .duration {
  white-space:nowrap;
  font-style:italic;
}
#bslisttable .studyintro {
	
}
#bslisttable .teacher {
	white-space:nowrap;
}
#bslisttable .location_text {
	white-space:nowrap;
}
#bslisttable .topic_text {
	white-space:nowrap;
}
#bslisttable .message_type {
	white-space:nowrap;
}
#bslisttable .media {
	white-space:nowrap;
}
#bslisttable .store {
	white-space:nowrap;
}
#bslisttable .details-text {
	white-space:nowrap;
}
#bslisttable .details-pdf {
	white-space:nowrap;
}
#bslisttable .details-text-pdf {
	white-space:nowrap;
}
#bslisttable .detailstable td {
  border: none;
  padding: 0 2px 0 0;
}
#bslisttable .secondary_reference {
	white-space:nowrap;
}
#bslisttable .teacher-title-name {
	white-space:nowrap;
}
#bslisttable .submitted {
	white-space:nowrap;
}
#bslisttable .hits {
	white-space:nowrap;
}
#bslisttable .studynumber {
	white-space:nowrap;
}
#bslisttable .filesize {
	white-space:nowrap;
}
#bslisttable .custom {
	white-space:nowrap;
}
#bslisttable .commentshead {
	font-size: 2em;
	font-weight:bold;
}
#bslisttable .thumbnail {
	white-space:nowrap;
}
#bslisttable .mediatable td {
  border: none;
  padding: 0 6px 0 0;
}
#bslisttable .mediatable span.bsfilesize {
  font-size:0.6em;
  position:relative; bottom: 7px;
}
<!-- Study Details CSS -->

#bsdetailstable th, #bsdetailstable td {
  text-align:left;
  padding:0 5px 0 5px;
  border:none;
}
#bsdetailstable .studydetailstext td {
	font-size:1.2em;
  color:#707070;
  font-family:Verdana, Geneva, sans-serif;
}
#titletable {
  margin: 0;
  border-collapse:separate;
}
#titletable th, #titletable td {
  text-align:left;
  padding:0 5px 0 5px;
  border:none;
}

#titletable .titlesecondline {
	font-weight: bold;
}
#titletable .titlefirstline {
	font-size:20px;
	font-weight:bold;
}
