/*
    Document   : jbsmigration
    Created on : Jan 15, 2012, 11:52:29 AM
    Author     : JBS Teaam
    Description:
        Purpose of the stylesheet follows.
*/

.icon-48-folder {
	background-image: url(../images/folder.png);
	}

