/*Admin*/
div.current .panelform {
    border:1px solid #CCCCCC !important;
}
/*Studiesedit*/
.inlineFields div {
    float: left;
}

.inlineFields label {
    min-width:70px !important;
}

/*General*/
#loading {
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background-color: #FFFFFF;
    border:1px solid black;
    padding:16px;
    position:fixed;
    right:0;
    text-align:center;
    top:0;
    width:158px;
    margin: 7px;
    display: none;
}
#loading span {
    font-weight: bold;
}
.icon-48-openbible {
    background-image:url(openbible.gif);
}

.inlinePlayer {
    border: 1px solid black;
    position: absolute;
    width: 290px;
    margin-left: -293px;
    height: 24px;
    display:none;
    background-color:  #ffffff;
}

#checks, #download, #decompress, #install, #migration, #templates, #extensions, #done {
	margin: 7px;
	border:	2px dotted #e3e1e1;
	background-color: #fafafa;
	width: 450px;
	padding-bottom: 10px;
  height:100px;
}

#pb0-box, #pb1-box, #pb2-box, #pb3-box, #pb4-box, #pb5-box, #pb6-box {
  background:url(../images/progress-bar-back.gif) no-repeat scroll right center transparent;
  width:200px;
  height:19px;
}

#pb0-perc, #pb1-perc, #pb2-perc, #pb3-perc, #pb4-perc, #pb5-perc, #pb6-perc	{
  background:url(../images/progress-bar.gif) no-repeat scroll right center transparent;
  height:19px;
  float:left;
}
