<?xml version="1.0" encoding="utf-8"?>
<config menu="hide">
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
              description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JBS_ADM_PERMISSION_SETTINGS"
               class="inputbox" validate="rules" filter="rules" component="com_biblestudy"
               section="component"/>
    </fieldset>
    <fieldset name="filters"
              addfieldpath="/administrator/components/com_biblestudy/models/fields"
              label="JBS_ADM_TEXT_FILTERS_LABEL" description="JBS_ADM_TEXT_FILTERS_DESC">
        <field name="filters" type="filters" label="JBS_ADM_TEXT_FILTERS_LABEL"
               class="inputbox" filter=""/>
    </fieldset>
</config>
