<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset addfieldprefix="CWM\Component\Proclaim\Administrator\Field">
		<field name="id" type="text" default="0"/>
		<field name="published"
		       type="list"
		       id="published"
		       label="JSTATUS"
		       description="JFIELD_PUBLISHED_DESC"
		       default="1"
		       filter="integer">
			<option value="1">
				JPUBLISHED
			</option>
			<option value="0">
				JUNPUBLISHED
			</option>
			<option value="-2">
				JTRASHED
			</option>
		</field>
		<field
				name="type"
				type="ServerType"
				label="JBS_CMN_SERVER"
				description="JBS_MED_SERVER_DESC"
				class="inputbox"
				required="true"
				size="40"/>
		<field name="server_name" type="text" label="JBS_SVR_SERVER_NAME"
		       description="JBS_SVR_SERVER_NAME_DESC" size="50" required="true"/>
		<field name="rules" type="rules" label="JFIELD_RULES_LABEL"
		       translate_label="false" class="inputbox" filter="rules" component="com_proclaim"
		       section="server" validate="rules"/>
		<field name="asset_id" type="hidden" filter="unset"/>
	</fieldset>

	<!-- Server specific fields-->
	<field name="params"/>
	<field name="media"/>
</form>
